.colorSearchBar{
  background-color: white;
  width: 60%;
  border: 1px solid grey;
  outline: none;
  height: 30px;
  border-radius: 18px;
  padding: 10px;
}
.pageWrapper{
  padding: 20px;
  height: 100vh;
  overflow: auto;
  box-sizing: border-box;
}

.colorCardColumn {
  float: left;
  width: 20%;
  padding: 0 10px;
  margin-top:20px
}

/* Remove extra left and right margins, due to padding */
.colorCardRow {margin: 0 -5px;}

/* Clear floats after the colorCardColumns */
.colorCardRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive colorCardColumns */
@media screen and (max-width: 600px) {
  .colorCardColumn {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.colorCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  height: 200px;
  border: 6px solid black
}
.colorCardHeader{
  /* height: 40px; */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f1f1f1;
  flex-direction: column;
  padding: 10px;
}